/* ---------- CART CONTENT ---------- */

.cart-content {
  width: 80%;
  max-height: 50vh;
  padding: 16px;
  position: relative;
  bottom: 24px;
  background-color: var(--black25);
  color: var(--black75);
  font-size: var(--fs-sm);
  border-radius: 16px;
  overflow: hidden;
  overflow-y: auto;
}
.cart-content::-webkit-scrollbar,
.cart-content::-webkit-scrollbar-track-piece,
.cart-content::-webkit-scrollbar-track {
  width: 0px;
  background: transparent;
  scrollbar-width: 0px;
}

.cart-item {
  margin: 8px 0;
  padding: 8px;
  background-color: var(--black10);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

/* START ITEM HEADER */

.item-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item-header button {
  height: 20px;
  width: 20px;
  border: 2px solid var(--black50);
  border-radius: 50%;
  color: var(--black50);
}
.item-header button:hover {
  border: 2px solid var(--error);
  color: var(--error);
}
.header-content {
  width: 100%;
  padding: 0 4px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* END ITEM HEADER */

.item-content {
  position: relative;
  left: 8px;
  padding: 2px 0;
  font-size: var(--fs-xs);
  color: var(--black50);
  font-style: italic;
  display: list-item;
}

/* ---------- CART FOOTER ---------- */

.cart-price {
  color: var(--black75);
  font-size: var(--fs-sm);
}
