* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.3rem;
}
*::-webkit-scrollbar-track {
  background: var(--black50);
}
*::-webkit-scrollbar-thumb {
  background: var(--primary-dark);
}

body {
  font-size: var(--fs-p);
  font-family: var(--ff-2);
  background: var(--white);
  color: var(--black);
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}

button {
  transition: all 200ms;
}

button:hover {
  background-color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

.hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.products-showcase {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.showcase-1 {
  height: 250px;
  width: 50%;
  background-color: var(--primary);
  color: var(--white);
}
.showcase-2 {
  height: 250px;
  width: 50%;
  background-color: var(--black75);
  color: var(--white);
}
